/* Generic Elements */

body {
    background-color: #CCCCCC;
}

pre {
    display: inline;
}

/* Title Class */

div.title {
    background-color: #E02D28;
    text-align: center;
    color: white;
    padding: 1%;
}

div.title:hover {
    background-color: #902D28;
}

a.title {
    text-decoration: none;
    color: white;
}

/* Navigation Class */

div.nav {
    background-color: #FDBE0F;
    text-align: center;
    font-weight: bold;
    padding: 1%;
}

div.nav:hover {
    background-color: #ADBE0F;
}

a.nav {
    text-decoration: none;
    color: black;
}

a.nav:hover {
    color: white;
}

/* About Class */

div.about {
    background-color: #007AC3;
    padding: 1%;
}

div.about:hover {
    background-color: #B07AC3;
}

img.photo {
    width: 25%;
    height: 3%;
}

/* Projects Class */

div.projects {
    background-color: #62B944;
    padding: 1%;
}

div.projects:hover {
    background-color: #12B944;
}

/* Contact Class */

div.contact {
    background-color: #C0965D;
    padding: 1%;
}

div.contact:hover {
    background-color: #70965D;
}

a.contact {
    text-decoration: none;
    color: blue;
}

a.contact:hover {
    color: white;
}

h2.sub {
    margin-bottom: 0px;
}

h4.sub {
    margin-top: 0px;
}

/* Footer Class */

div.footer {
    background-color: #4CC9E3;
    text-align: center;
    color: white;
    padding: 1%;
}

div.footer:hover {
    background-color: #ECC9E3;
}
