body {
    text-align: center;
    font-family: times, serif;
    font-weight: bold;
}

pre {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

/*a:hover {
    color: gray;
}
