pre {
    display: inline;
    font-family: times, serif;
}

h3#sub {
    margin-bottom: 0px;
}

h5#sub {
    margin-top: 0px;
}

img {
    width: 25%;
    height: 3%;
}

a {
    text-decoration: none;
}